@using Unvirsity_System.Models
@model List<University>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section style{
        @Styles.Render("~/Content/styleu.css")
    }*@
<link href="~/Content/styleu.css" rel="stylesheet" />
<br />
@using (Html.BeginForm("Index", "Unversity", FormMethod.Get))
{
    //the following are search options
    <br />
    <b style="color:black;margin:20px;"> Search Option: </b>

    @Html.RadioButton("option", "University")<span style="color:black;margin-top:20px;font-weight:bold;">University</span>

        @Html.RadioButton("option", "Location")    <span style="color:black;margin-top:20px;font-weight:bold;">Location </span>

        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
}
@*<form method="get" action="\University\Index">
            <input type="text" name="universityName" class="form-control" width="300" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    @using (Html.BeginForm("Index","Unversity",FormMethod.Get))
    {

        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
    }*@
@if (Model.Count() == 0)
{
    <h1>Records not found</h1>
}
else
{
    <div class="container page-wrapper">
        <div class="page-inner">
            <div class="row">

                @foreach (var item in Model)
                {
                    <form action="\Faculty\index" method="post">
                        <div class="box-wrapper" style="float:left">

                            @if (item.image != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.image);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" alt="unversity img" class="product-img" width="100" height="200" />
                            }
                            @* <img src="@item.image" alt="unversity img" class="product-img" width="100" height="200">*@
                            <div class="box-info">
                                @*<h1 class="main-title">@item.Name</h1>*@
                                <h1 class="sub-title">@item.Name</h1>
                                @*<h2 class="sub-title">@item.address</h2>*@
                                <h3 class="sub-title">tel:@item.Telephon </h3>
                                <div>
                                    <button type="submit" class="btn btn-primary">view faculty</button>
                                    @*<button class="btn btn-primary">view faculty</button>*@
                                </div>
                            </div>

                            <div class="right-column">
                                @*@Html.CheckBox("optionFac", "Faculty")
        <span class="price">@item.Location</span>
        <br />
        @Html.CheckBox("optionFac", "Faculty")*@
                                @*<span class="price">@item.Location</span>*@



                                @foreach (var b in item.Branches)
                                {

                                    <br />
                                    @Html.RadioButton("option", @b.ID.ToString(), true)

                                    <span class="price">@b.Name</span>

                                }

                                @Html.ActionLink("viewLocation", "getLocation", "Unversity",new {id=item.ID },null)

                            </div>

                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
}
