@model IEnumerable<Unvirsity_System.Models.Professor>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signtific_Digree)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signtific_Digree)
            </td>
            <td>
             @*   @Html.ActionLink("Details", "Details", new { id = item.ID })*@
            </td>
        </tr>
        }

    </table>
